body {
  background-color: LightCyan;
}

.card {
  background-color: blue;
  width: 150px;
  height: 150px;
  padding: 6px;
  margin: 6px;
  border-style: dashed;
  float: left;
}

img {
  width: 150px;
  height: 150px;
}
